@use 'sass:map';

$prefix: 'container';
$base-container-padding: 8px 16px;

/**
 * @todos
 * 1. min/max width feature
 * 2. responsive styles feature
 */
@mixin flex-box-container-reset($width, $height, $options) {
  @if not $width or not $height {
    @error 'Arguments "width" and "height" should exist.';
  }

  width: $width;
  height: $height;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @each $key, $value in $options {
    #{$key}: #{$value};
  }

  &__with-padding {
    padding: $base-container-padding;
  }

  &__column-direction {
    flex-direction: column;
  }

  &__full {
    width: 100%;
    height: 100%;
  }
}
