@use 'sass:map';

$prefix: 'container';
$base-container-padding: 8px 16px;

@mixin flex-box-container-reset($width, $height, $options) {
  @if not $width or not $height {
    @error 'Arguments "width" and "height" should exist.';
  }

  width: $width;
  height: $height;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @each $key, $value in $options {
    #{$key}: #{$value};
  }

  &__with_padding {
    padding: $base-container-padding;
  }
}

@mixin column-flex-box-container-reset($width, $height, $options) {
  $options: map.set($options, 'flex-direction', 'column');

  @include flex-box-container-reset($width, $height, $options);
}

@mixin flex-box-container-full-width($height, $options) {
  @include flex-box-container-reset(100%, $height, $options);
}
